[submodule "Honey/vendor/spdlog"]
	path = Honey/vendor/spdlog
	url = ../../gabime/spdlog.git
	branch = v1.x
[submodule "Honey/vendor/GLFW"]
	path = Honey/vendor/GLFW
	url = ../../CleverSource/glfw.git
	branch = master
[submodule "Honey/vendor/imgui"]
	path = Honey/vendor/imgui
	url = ../../CleverSource/imgui.git
	branch = docking
[submodule "Honey/vendor/glm"]
	path = Honey/vendor/glm
	url = ../../g-truc/glm.git
	branch = master
[submodule "Honey/vendor/yaml-cpp"]
	path = Honey/vendor/yaml-cpp
	url = https://github.com/CleverSource/yaml-cpp
