# Binaries
**/bin/
bin-int/
Intermediates/

# Honey files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Honey/vendor/VulkanSDK
Honeynut/assets/cache
scripts/__pycache__
