[submodule "Honey/vendor/spdlog"]
	path = Honey/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Honey/vendor/GLFW"]
	path = Honey/vendor/GLFW
	url = https://github.com/CleverSource/glfw
[submodule "Honey/vendor/imgui"]
	path = Honey/vendor/imgui
	url = https://github.com/CleverSource/imgui
[submodule "Honey/vendor/glm"]
	path = Honey/vendor/glm
	url = https://github.com/g-truc/glm
